[submodule "3rdparty/cutest"]
	path = 3rdparty/cutest
	url = https://github.com/mcscholtz/cutest.git
[submodule "3rdparty/list-queue"]
	path = 3rdparty/list-queue
	url = https://github.com/mcscholtz/list-queue.git
